$primary-color:#7F839A;
$font-primary: 'Poppins', sans-serif;
$font-title:'Poppins', sans-serif;
$break-small:767px;
$break-medium: 990px;
$break-normal:1499px;
.white-text {
    color: #fff;
}


@mixin responsivescroll {
    @media screen and (max-width: $break-small) {
    max-width: 100%;
    display: inline-flex;
    vertical-align: top;
    overflow-x: scroll;
    }
}

// @mixin page-banner {
//     background-size: cover;
//     align-items: flex-end;
//     .inner-title{
//         position: relative;
//         h2{
//             color: white;
//             font-size: 60px;
//             font-weight: 200;
//         }
//     }
// }