.white-text {
  color: #fff;
}

html {
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 60px 0px 40px;
}

footer {
  padding: 30px 0px;
}

.d-inline {
  display: inline-block;
}

.page-content {
  padding: 30px 0px 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  width: 16px;
  height: 15px;
  vertical-align: middle;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  /*border: 1px solid #c0c0c0;*/
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.my-10 {
  margin: 10px 0px;
}

.item-lg {
  display: block;
}

@media screen and (max-width: 767px) {
  .item-lg {
    display: none;
  }
}

.item-sm {
  display: none;
}

@media screen and (max-width: 767px) {
  .item-sm {
    display: inline-block;
    width: 100%;
  }
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

tr {
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

table caption {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

table th a {
  color: #000;
}

/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: #666;
  font-size: 0.875em;
  height: 46px;
  border: 1px solid #E3E4E8;
  background-color: #fff;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 12px;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  line-height: 1.6;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375em;
  line-height: 26px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

p {
  font-family: "Poppins", sans-serif;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0;
  padding: 30px 5px 5px 0px;
}

blockquote p {
  margin: 0 0 1em;
  font-style: italic;
}

blockquote, q {
  quotes: "" "";
  position: relative;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f7f7f7;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9375em;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  word-wrap: break-word;
}

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

ul,
ol {
  margin: 0 0 0.5em 1em;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: 100%;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
  width: 100%;
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #e5e5e5;
}

td,
th {
  padding: 5px 10px;
}

/*--------------------------------------------------------------
#Forms
--------------------------------------------------------------*/
/*button, a.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
font-size: 16px;
margin: 10px;
padding: 10px 30px;
color: #ffffff;
border-radius: 0px;
background:#246A55;
border: none;
}*/
a.button {
  min-width: 150px;
}

/*button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
background:transparent;
border: 1px solid #ffc341;
color: white;
}*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="number"] {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
  color: #666;
  border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"],
input[type="date"],
input[type="time"],
textarea:focus {
  color: #111;
  outline: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="url"],
input[type="varchar"],
input[type="password"],
input[type="search"],
input[type="number"] {
  padding: 10px 0 10px 15px;
}

input[type="search"] {
  padding: 12px 0px 8px 15px;
}

select {
  width: 100%;
  padding: 5px;
}

textarea {
  padding: 10px;
  width: 100%;
}

.form-submit input#submit {
  margin: 20px 0 10px 0;
}

.form-submit {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1499px) {
  p {
    font-size: 90%;
  }
}

/*input[type="submit"] {*/
/*width: 100%;*/
/*}*/
/*--------------------------------------------------------------
#. Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#.#. Links
--------------------------------------------------------------*/
a {
  color: #000;
  outline: none;
  text-decoration: underline;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #7F839A;
  text-decoration: none;
  outline: inherit;
}

a:active {
  outline: 0;
  color: #7F839A;
  text-decoration: none;
  outline: 0;
}

a:focus {
  color: #7F839A;
  text-decoration: none;
  outline: inherit;
}

/*----reset---*/
.clear {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  clear: both;
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
  clear: both;
}

.container::before {
  display: table;
  content: "";
}

.container::after {
  display: table;
  content: "";
  clear: both;
}

.section-content {
  padding: 0px 15px;
}

p {
  font-family: "Poppins", sans-serif;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-apdpearance: none;
}

input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-color: transparent;
}

input[type="date"]:focus {
  color: white;
  background-color: transparent;
}

input[type="date"]:hover {
  color: white;
  background-color: transparent;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

/*image*/
.item-image-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 20px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.item-image-holder img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bg-light {
  background: #f3f3f3 !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .d-flex {
    display: block;
  }
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.site-header,
.header-content {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: transparent;
}

.fixed {
  position: fixed;
}

.card {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 6px 18px 0px #dddddd87;
          box-shadow: 0px 6px 18px 0px #dddddd87;
  border-radius: 4px;
  height: 100%;
}

.card .card-title {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card .card-title h3 {
  font-weight: 700;
  display: inline-block;
  font-size: 1.25em;
  text-transform: capitalize;
  margin-bottom: 0;
}

.card .card-title p {
  color: #7F839A;
  margin-bottom: 0;
  margin: 0px;
  float: right;
  display: inline-block;
  padding-right: 15px;
}

.card .card-title a {
  float: right;
  color: #7F839A;
  position: absolute;
  right: 15px;
  top: 15px;
}

.card .card-body {
  height: 300px;
  padding-top: 0;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.card .card-body::-webkit-scrollbar {
  width: 5px;
  border-radius: 30px;
}

.card .card-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

.card .card-body::-webkit-scrollbar-thumb {
  background: #7F839A;
  border-radius: 30px;
}

.card .card-body::-webkit-scrollbar-thumb:hover {
  background: #7F839A;
}

.header {
  -webkit-box-shadow: 0px 6px 18px 0px #dddddd7a;
          box-shadow: 0px 6px 18px 0px #dddddd7a;
  z-index: 99;
  position: relative;
  background-color: white;
}

.header .logo-wrap {
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 990px) {
  .header .logo-wrap {
    margin-bottom: 15px;
  }
}

.header .logo-wrap .item-image-holder {
  padding-bottom: 21%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  margin-bottom: 0;
}

.header .logo-wrap h3 {
  color: #3F7AFC;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0px 5px;
  margin-bottom: 0;
}

.header .logo-wrap h3 span {
  color: #FFA001;
}

.header .search-wrap form input {
  border: 0;
  padding-bottom: 0;
  background-image: url(../images/search.png);
  background-position: 15px 70%;
  background-repeat: no-repeat;
  background-size: 22px;
  padding-left: 45px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header .search-wrap form input::-webkit-input-placeholder {
  color: #7F839A;
  font-weight: 600;
  font-size: 0.9375em;
}

.header .search-wrap form input:-ms-input-placeholder {
  color: #7F839A;
  font-weight: 600;
  font-size: 0.9375em;
}

.header .search-wrap form input::-ms-input-placeholder {
  color: #7F839A;
  font-weight: 600;
  font-size: 0.9375em;
}

.header .search-wrap form input::placeholder {
  color: #7F839A;
  font-weight: 600;
  font-size: 0.9375em;
}

.header .search-wrap form input:focus {
  border-bottom: 1px solid #ddd;
  outline: none;
}

.header .search-wrap form input:active {
  border-bottom: 1px solid #ddd;
  outline: none;
}

.header .notification_wrap {
  width: auto;
  text-align: center;
}

.header .notification_wrap .icon-wrap {
  display: inline-block;
}

.header .notification_wrap .icon-wrap i {
  font-size: 1.5em;
  color: #7F839A;
}

.header .notification_wrap sup {
  background-color: #FFA001;
  position: absolute;
  color: white;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size: 0.75em;
  line-height: 1.4;
}

.header .profile_wrap .profile-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 990px) {
  .header .profile_wrap .profile-image {
    margin: 0 auto;
  }
}

.mobile-menu {
  width: auto;
  top: 10px;
  right: 20px;
  border: 0;
  z-index: 99;
  border: 1px solid #ddd;
  background-color: #FBFCFE;
  display: none;
}

@media screen and (max-width: 990px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-menu i {
  color: #7F839A;
}

body {
  background-color: #F5F6F8;
}

.content-area .sidebar {
  background-color: #FBFCFE;
  width: 250px;
  position: fixed;
  top: 0;
  height: 100%;
  padding-top: 40px;
  left: 0;
}

@media screen and (max-width: 990px) {
  .content-area .sidebar {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    z-index: 99;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .content-area .sidebar.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-box-shadow: 3px 15px 14px -1px #dddddd9c;
            box-shadow: 3px 15px 14px -1px #dddddd9c;
  }
}

.content-area .sidebar .profile-detail {
  padding: 0px 0px 20px;
  margin: 0px 20px;
  border-bottom: 1px solid #ddd;
}

.content-area .sidebar .profile-detail .user_wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-area .sidebar .profile-detail .user_wrap .profile-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.content-area .sidebar .profile-detail .user_wrap .profile-entry {
  padding: 0px 10px;
}

.content-area .sidebar .profile-detail .user_wrap .profile-entry h4 {
  margin-bottom: 0;
}

.content-area .sidebar .profile-detail .user_wrap .profile-entry span {
  color: #B3B3B3;
}

.content-area .sidebar .main-navigation {
  padding: 20px 0px;
}

.content-area .sidebar .main-navigation ul li {
  padding: 10px 0px;
}

.content-area .sidebar .main-navigation ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7F839A;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.content-area .sidebar .main-navigation ul li a span {
  padding: 0px 10px;
  font-weight: 600;
}

.content-area .sidebar .main-navigation ul li.active a {
  color: #3F7AFC;
}

.content-area .sidebar .main-navigation ul li:hover a {
  color: #3F7AFC;
}

.main-content {
  margin-left: 250px;
  height: 100%;
  width: 100%;
  padding-right: 25px;
}

@media screen and (max-width: 990px) {
  .main-content {
    margin-left: 0;
  }
}

@media screen and (max-width: 990px) {
  .main-content .stats-wrap .row {
    max-width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    overflow-x: scroll;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.main-content .stats-wrap .row .col-lg-3 .stat-single {
  padding: 20px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 6px 18px 0px #dddddd87;
          box-shadow: 0px 6px 18px 0px #dddddd87;
  border-radius: 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.main-content .stats-wrap .row .col-lg-3 .stat-single .icon-holder {
  background-color: #D7FFEA;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .stats-wrap .row .col-lg-3 .stat-single .icon-holder i {
  color: #3CB878;
  font-size: 1.75em;
}

.main-content .stats-wrap .row .col-lg-3 .stat-single .stat-entry {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0px 10px;
}

.main-content .stats-wrap .row .col-lg-3 .stat-single .stat-entry h4 {
  margin-bottom: 5px;
  font-weight: 500;
  color: #A8A8A8;
  font-size: 1em;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.main-content .stats-wrap .row .col-lg-3 .stat-single .stat-entry span {
  color: #000;
  font-size: 1.25em;
  font-weight: 600;
}

.main-content .stats-wrap .row .col-lg-3 .stat-single:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #f5f5f5;
}

.main-content .stats-wrap .row .col-lg-3 .stat-single:hover .stat-entry h4 {
  color: #3CB878;
  font-weight: 600;
}

.main-content .stats-wrap .row .col-lg-3:nth-child(2) .stat-single .icon-holder {
  background-color: #E1F1FF;
}

.main-content .stats-wrap .row .col-lg-3:nth-child(2) .stat-single .icon-holder i {
  color: #3F7AFC;
}

.main-content .stats-wrap .row .col-lg-3:nth-child(2) .stat-single:hover .stat-entry h4 {
  color: #3F7AFC;
  font-weight: 600;
}

.main-content .stats-wrap .row .col-lg-3:nth-child(3) .stat-single .icon-holder {
  background-color: #FFF2DB;
}

.main-content .stats-wrap .row .col-lg-3:nth-child(3) .stat-single .icon-holder i {
  color: #FFA001;
}

.main-content .stats-wrap .row .col-lg-3:nth-child(3) .stat-single:hover .stat-entry h4 {
  color: #FFA001;
  font-weight: 600;
}

.main-content .stats-wrap .row .col-lg-3:nth-child(4) .stat-single .icon-holder {
  background-color: #FFEAEA;
}

.main-content .stats-wrap .row .col-lg-3:nth-child(4) .stat-single .icon-holder i {
  color: #FF0000;
}

.main-content .stats-wrap .row .col-lg-3:nth-child(4) .stat-single:hover .stat-entry h4 {
  color: #FF0000;
  font-weight: 600;
}

.main-content .bottom-content .assignment-card .card-body {
  padding-top: 0;
}

.main-content .bottom-content .assignment-card .card-body ul {
  margin-left: 0;
}

.main-content .bottom-content .assignment-card .card-body ul li {
  border-bottom: 1px solid #ddd;
  padding: 15px 0px;
}

.main-content .bottom-content .assignment-card .card-body ul li .item-left h3 {
  font-size: 1.125em;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.main-content .bottom-content .assignment-card .card-body ul li .item-left .status-entry .status p {
  color: #3CB878;
  padding-right: 20px;
  margin-bottom: 10px;
}

.main-content .bottom-content .assignment-card .card-body ul li .item-left .status-entry .status span {
  color: #7F839A;
}

.main-content .bottom-content .assignment-card .card-body ul li .item-left .status-entry .progressbar {
  background: #ccc;
  border-radius: 20px;
  width: 70%;
  display: block;
  height: 5px;
  margin-bottom: 10px;
  position: relative;
}

.main-content .bottom-content .assignment-card .card-body ul li .item-left .status-entry .progressbar > span {
  display: block;
  border-radius: 20px;
  height: 5px;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  -webkit-transition: width 2s ease-out;
  transition: width 2s ease-out;
}

.main-content .bottom-content .assignment-card .card-body ul li .item-left .status-entry.incomplete p {
  color: #3CB878;
}

.main-content .bottom-content .assignment-card .card-body ul li .item-left .status-entry.incomplete .progressbar span {
  background-color: #3CB878;
}

.main-content .bottom-content .assignment-card .card-body ul li .item-left .status-entry.complete p {
  color: #3F7AFC;
}

.main-content .bottom-content .assignment-card .card-body ul li .item-left .status-entry.complete .progressbar span {
  background-color: #3F7AFC;
}

.main-content .bottom-content .assignment-card .card-body ul li .deadline-wrap p {
  margin-bottom: 5px;
  font-size: 0.9375em;
  color: #7F839A;
}

.main-content .bottom-content .course-card .card-body ul li {
  border-bottom: 1px solid #ddd;
  padding: 15px 0px;
}

.main-content .bottom-content .course-card .card-body ul li .item-image-holder {
  margin-bottom: 0;
  padding-bottom: 100%;
}

.main-content .bottom-content .course-card .card-body ul li .item-mid h4 {
  font-size: 1.125em;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.main-content .bottom-content .course-card .card-body ul li .item-mid p {
  margin-bottom: 10px;
  font-size: 0.875em;
  color: #7F839A;
}

@media screen and (max-width: 990px) {
  .main-content .bottom-content .course-card .card-body ul li .deadline-wrap {
    text-align: right;
  }
}

.main-content .bottom-content .course-card .card-body ul li .deadline-wrap p {
  margin-bottom: 5px;
  font-size: 0.875em;
  color: #7F839A;
}

.main-content .bottom-content .attendence-card .card-body .chart-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .bottom-content .attendence-card .card-body .chart-index h5 {
  margin-bottom: 10px;
}

.main-content .bottom-content .attendence-card .card-body .chart-index p {
  margin-bottom: 5px;
  font-size: 0.875em;
}

.main-content .bottom-content .attendence-card .card-body .chart-wrapper {
  width: 100%;
  height: 100%;
}

.main-content .bottom-content .activities-card .card-body ul li {
  padding: 15px 0px;
  border-bottom: 1px solid #ddd;
}

.main-content .bottom-content .activities-card .card-body ul li .item-left h4 {
  margin-bottom: 5px;
  font-size: 1.125em;
}

.main-content .bottom-content .activities-card .card-body ul li .item-left p {
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */